.section {
  height: 100vh;
  position: relative;
  overflow: hidden;


  &__content {
    padding-top: 92px;
    padding-left: 50px;
    padding-right: 16px;

    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 45px;
    }

    p {
      font-size: 15px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      opacity: 0.8;
    }
  }

  &__img {
    display: block;
    margin-top: 60px;
    margin-inline: auto;
    overflow: hidden;
    object-fit: cover;
    width: 80%;
  }

  &::before {
    content: "";
    position: absolute;
    top: 261px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(0, 0, 0) 100%);
  }
}

@media screen and (max-width: 374px) {
  .section {

    &__content {
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 20px;
      padding-bottom: 5px;
      overflow: scroll;
    }
  }
}