.section {
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  border: 8px solid rgb(35, 195, 178);

  &__overlay {
    background-image: url('../../imagine/bg-collage.png');
    background-position: -8px -30px;
    overflow: hidden;
    height: 100%;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
    }

    &::before {
      content: "";
      position: absolute;
      top: 261px;
      bottom: 0;
      width: 100%;
      background: linear-gradient(180.00deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.83) 100%);
    }
  }

  &__content {
    position: absolute;
    top: 36px;
    left: 42px;
    right: 37px;
    bottom: 5px;
    overflow:auto;
  }

  &__title {
    margin-bottom: 109px;

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.5px;
      margin-bottom: 4px;
    }

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 1px;
    }
  }

  &__description {
    margin-bottom: 39px;

    h2 {
      font-size: 36px;
      font-weight: 700;
      line-height: 43px;
      letter-spacing: 0px;
      text-align: left;
      margin-bottom: 10px;
    }

    p {
      padding-right: 20px;
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.5px;
      text-align: left;
    }

    span {
      white-space: nowrap;
    }
  }

  &__try {
    h2 {
      font-size: 24px;
      font-weight: 700;
      line-height: 30px;
      letter-spacing: 1px;
      text-align: left;
      margin-bottom: 16px;
    }

    p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.83px;
      text-align: left;
      text-transform: capitalize;
      margin-bottom: 20px;
    }

    &__details {
      background: none;
      border: none;
      color: rgb(229, 229, 229);
      font-family: SF UI Display;
      font-size: 10px;
      font-weight: 600;
      line-height: 12px;
      letter-spacing: 1.3px;
      text-align: left;
      text-transform: uppercase;
    }
  }

  @media screen and (max-width: 374px) {
    .section {
      &__content {
        top: 20px;
        left: 30px;
        right: 20px;
        bottom: 5px;
        overflow: scroll;
      }
      &__title {
        margin-bottom: 70px;
        p {
          font-size: 16px;
          margin-bottom: 2px;
        }
        h3 {
          font-size: 24px;
          line-height: 26px;
        }
      }
      &__description {
        margin-bottom: 40px;
        h2 {
          font-size: 28px;
          line-height: 30px;
          margin-bottom: 20px;
        }
        p {
          font-size: 16px;
          line-height: 18px;
        }
      }
    }
  }
}
