.offline {
  height: 100vh;
  position: relative;

  &__article {
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 39px;
  }

  &__container {
    overflow: hidden;
    height: calc(100vh - 192px); // Встановлюємо висоту контейнера
  }

  &__img {
    display: block;
    margin-top: 29px;
    margin-inline: auto; // Центруємо зображення
  }

  &::before {
    content: "";
    position: absolute;
    top: 261px;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgb(0, 0, 0) 100%);
  }
}




.article__head {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 15px;
}

.article__text {
  color: rgb(207, 207, 207);
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}